<h1>Registrase</h1>

<form [formGroup]='formularioDeRegistro'>
  <div>
    <label>Nombre</label>
    <input type='text' formControlName='nombre'>
    <div *ngIf="formularioDeRegistro.get('nombre').errors && formularioDeRegistro.get('nombre').dirty">
      <p>El campo es obligatorio</p>
    </div>
  </div>

  <div>
    <label>Apellido</label>
    <input type='text' formControlName='apellido'>
    <div *ngIf="formularioDeRegistro.get('apellido').errors && formularioDeRegistro.get('apellido').dirty">
      <p>El campo es obligatorio</p>
    </div>
  </div>

  <div>
    <label>Teléfono</label>
    <input type='text' formControlName='telefono'>
  </div>

  <div>
    <label>Email</label>
    <input type='email' formControlName='email'>
    <div *ngIf="formularioDeRegistro.get('email').errors && formularioDeRegistro.get('email').dirty">
      <p *ngIf="formularioDeRegistro.get('email').hasError('required')">El campo es obligatorio</p>
    </div>

  </div>

  <div>
    <label>Contraseña</label>
    <input type='password' formControlName='password'>

    <div *ngIf="formularioDeRegistro.get('password').dirty && formularioDeRegistro.get('password').errors">
      <p *ngIf="formularioDeRegistro.get('password').hasError('required')">El campo es obligatorio</p>
      <p *ngIf="formularioDeRegistro.get('password').hasError('minlength')">La contraseña debe tener al menos 6 caracteres</p>
      <p *ngIf="formularioDeRegistro.get('password').hasError('maxlength')">La contraseña debe tener como máximo 10 caracteres</p>
    </div>
  </div>

  <input type='submit' value='Registrarse'>
</form>
